#selecthalf{
	width:20%;
	float:left;
	height:87%;
	overflow:hidden;
	margin:0.5%;
}

#previewhalf{
	flex:1;
	width:80%;
	height:87%;
	max-height:100%;
	margin:0.5%;
	float:right;
	overflow:hidden;
}

#controls{
	flex:1 0 auto;
	height:10%;
	width:99%;
	margin:0.5%;
}

#godcontainer{
	flex-direction:row;
	flex-wrap:wrap;
	height:100%;
	width:100%;
}


table td{
	border-bottom:1px solid grey;
	border-collapse: collapse;
}

.flowy{
	display:flex;
	flex-direction:column;
	max-height:inherit;
	overflow:hidden;
}

.inside{
	width:95%;
	margin:0 auto;
}

.roundbox{
	border:1px solid black;
	border-radius:5px;
	width:99%;
}

.smallinput{
	border:1px solid black;
	width:99%;
	font-size:20px;
	margin-bottom:5px;
	resize:vertical;

}
.highlight{
	background-color:yellow;

}

.scrollable{
	overflow-y:auto;
	flex:1;
}

.boxlabel{
	margin-bottom:0px;
}