.scrapesave-pageslist {
	background-color: pink !important;
	border: 1px solid black;
}
.scrapesave-title {
	background-color: orange !important;
	border: 1px solid black;
}
.scrapesave-body {
	background-color: yellow !important;
	border: 1px solid black;
}
.scrapesave-next {
	background-color: green !important;
	border: 1px solid black;
}
#scrapesave-sidebar {
	border:none;
	position:fixed !important;
	z-index:99999999;
	bottom:0;
	right:0;
	height:66vh !important;
	width:33vw !important;
	min-width:500px !important;
}
#scrapesave-preview {
	position:fixed !important;
	z-index:99999998;
	bottom:0;
	top:0;
	left:0;
	right:0;
	height:100vh !important;
	width:100vw !important;
	margin:auto;
	display:none;
	overflow-y:scroll
}