html{
	height:100%;
	border:1px solid black;
}

body {
	background-color: white;
	height: 100%;
	display:flex;
	flex-direction: column;
	margin-bottom: 5%;
}

h3 {
	text-align:center;
	width: inherit;
	margin-bottom: 0px;
}

form {
	height:inherit;
}
.tab{
	display:none;
	overflow-y:auto;
	overflow-x: hidden;
}

.activeTab{
	display:flex;
	flex-direction: column;
	flex-grow: 1;
	border:1px solid black;

}

.activeTab > * {
	flex-grow: 1;
}

.button-panel{
	display: inline-flex;
	width:100%;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow:0;
}

.button-panel button{
	width:20%;
	flex-grow: 1;
	
}

#global-options{
	padding-bottom: 10px;
}

#tab-found{
	overflow-y:hidden;
}

div#tab-help.activeTab{
	display:block;
}
#table-found{
	display: block;
	overflow-y:auto;
}

.highlight{
	background-color: yellow;
}

td{
	width:100%;
}
td.x-button{
	text-align:right;
	width:16px;
}

