html{
	height:100%;
	border:1px solid black;
}

body {
	background-color: white;
	height: 100%;
	display:flex;
	flex-direction: column;
	margin-bottom: 5%;
}

h3 {
	text-align:center;
	width: inherit;
	margin-bottom: 0px;
}

form {
	height:inherit;
}
.tab{
	display:none;
	overflow-y:auto;
	overflow-x: hidden;
}

.activeTab{
	display:flex;
	flex-direction: column;
	flex-grow: 1;
	border:1px solid black;
	border-bottom: none;

}

.activeTab > * {
	flex-grow: 1;
}

.button-panel{
	display: inline-flex;
	margin: 0px;
	padding: 0px;
	width:100%;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow:0;
	border-top: 1px solid black;
}

.button-panel button{
	width:20%;
	flex-grow: 1;
	margin: 0px;
	padding: 0px;
	border: 0;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #ffffff;
	border-radius: 0px;
	box-shadow:none;
	background: none;
	height:1.5em;
	
}

.button-panel button:active{
	background-color: #cdcdcd;
}

#global-options{
	padding-bottom: 10px;
}

#tab-found{
	overflow-y:hidden;
}

#textarea-found{
	overflow-y: auto;
	display: none;
}

#table-found{
	display: none;
	overflow-y:auto;
}

.activeFound{
	display:block !important;
}

div#tab-help.activeTab{
	display:block;
}

.highlight{
	background-color: yellow;
}

td{
	width:100%;
}
td.x-button{
	text-align:right;
	width:16px;
}

.pictogram {
	width:16px;
}

